.wrapper {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items__heading {
  text-align: center;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
